.footer {
  background-image: url(../../images/footer-bg-fellowship.svg);
  background-size: cover;
  background-color: ivory;
}

.logo-link {
  padding: 50px;
  width: 700px;
  margin-left: 50px;
  font-size: 30px;
}

.logo-link p {
  font-size: 20px;
  margin-left: 38px;
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
}

.logo-link a {
  color: black;
}
